body {
  background-color: rgb(205, 217, 228);
}

.App {
  text-align: center;
}

.cont {
  background-image:linear-gradient(rgb(160, 142, 142), rgb(44, 108, 204))
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  color: rgb(150, 60, 25);
}
 
form {
  padding: 1em;
}

input {
  width: 50%;
}

ul {
  width: fit-content;
  padding: 1.1rem;
  margin: auto;    
}

button {
  margin: auto;
}

img {
  margin: auto;
}